img {
    border-radius: 90px;
    position: relative;
    height: 50px;
    width: 50px;
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    width: 1%;
  }
  canvas{
      border: 5px solid red;
  }